.App {
  /* text-align: center; */
  background: url("https://wallpaperaccess.com/full/1561985.jpg");
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.container
{
  width: 70%;
  padding-top: 20px;
  padding-bottom: 20px;
  /* background-color: #282c34; */
  margin-left: 15%;
  background: white;
}

.pad {
  padding: 15px;
}

.search
{
  outline: 1px;
  width: 100%;
  border-radius: 50px;
  height: 30px;
}
.movie
{
  padding: 5px;
  /* background-color: grey; */
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
}

.poster
{
  height: 500px;
  width: 30%;
  /* background-color: red; */
}

.details
{
  
  width: 65%;
  /* background-color: green; */
}

.img-poster
{
  width: 100%;
  height: 500px;

}

.padd>p{
  font-size: 20px;
}
.btn
{
  width: auto;
  border-radius: 20px;
  margin-left: 10px ;
  background-color: #1cc8fc;
  font-size: small;
  outline: none;
  color: white;
}
.main
{
  display: flex;
}

.ratings
{
  display: block;
}